streamlit
langchain
langchain-core
langchain-openai
langchain-groq
langchain-community
langgraph
chromadb
pypdf
pymupdf
python-dotenv
tiktoken
sentence-transformers
faiss-cpu
numpy
pillow
groq
torch
transformers
langchain-text-splitters